@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Roboto:wght@300&display=swap');


body{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: beige;
}

.whole{
    background-color: beige;
}

.heading{
    text-align: center;
    font-size: 3rem;
}

.card-holder{
    display: flex;
    flex-wrap: wrap;
    background-color: beige;
    padding-bottom: 2rem;
    justify-content: space-evenly;
    margin-top: 0px;
}
.whole{
    background-color: beige;
}

.card1{
    margin-top: 2rem;
}