body {
  font-family: sans-serif;
  background-color: #e0e0e0;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  background-color: #0d6efd;
}

.logobar img{
  width: auto;
  height: 100px;
}

.college_image{
  width: 100%;
  height:600px
}

.button{
  padding: 100px;
}

a{
  margin-bottom: 2rem;
}
